[Desktop Entry]
Encoding=UTF-8
Exec=cyclone
Icon=preferences-desktop-screensaver
X-KDE-ServiceTypes=ScreenSaver
X-KDE-Category=OpenGL Screen Savers
X-KDE-Type=OpenGL
Type=Service
Actions=Setup;InWindow;Root
Name=Cyclone (GL)

[Desktop Action Setup]
Exec=kxsconfig cyclone
Name=Setup...

[Desktop Action InWindow]
Exec=kxsrun cyclone -- -window-id %w
Name=Display in specified window
NoDisplay=true
 
[Desktop Action Root]
Exec=kxsrun cyclone -- --root
Name=Display in root window
NoDisplay=true
