[Desktop Entry]
Encoding=UTF-8
Exec=drempels
Icon=preferences-desktop-screensaver
X-KDE-ServiceTypes=ScreenSaver
X-KDE-Category=OpenGL Screen Savers
X-KDE-Type=OpenGL
Type=Service
Actions=Setup;InWindow;Root
Name=Drempels (GL)

[Desktop Action Setup]
Exec=kxsconfig drempels
Name=Setup...

[Desktop Action InWindow]
Exec=kxsrun drempels -- -window-id %w
Name=Display in specified window
NoDisplay=true
 
[Desktop Action Root]
Exec=kxsrun drempels -- --root
Name=Display in root window
NoDisplay=true
