[Desktop Entry]
Encoding=UTF-8
Exec=feedback
Icon=preferences-desktop-screensaver
X-KDE-ServiceTypes=ScreenSaver
X-KDE-Category=OpenGL Screen Savers
X-KDE-Type=OpenGL
Type=Service
Actions=Setup;InWindow;Root
Name=Feedback (GL)

[Desktop Action Setup]
Exec=kxsconfig feedback
Name=Setup...

[Desktop Action InWindow]
Exec=kxsrun feedback -- -window-id %w
Name=Display in specified window
NoDisplay=true
 
[Desktop Action Root]
Exec=kxsrun feedback -- --root
Name=Display in root window
NoDisplay=true
