[Desktop Entry]
Encoding=UTF-8
Exec=flux
Icon=preferences-desktop-screensaver
X-KDE-ServiceTypes=ScreenSaver
X-KDE-Category=OpenGL Screen Savers
X-KDE-Type=OpenGL
Type=Service
Actions=Setup;InWindow;Root
Name=Flux (GL)

[Desktop Action Setup]
Exec=kxsconfig flux
Name=Setup...

[Desktop Action InWindow]
Exec=kxsrun flux -- -window-id %w
Name=Display in specified window
NoDisplay=true
 
[Desktop Action Root]
Exec=kxsrun flux -- --root
Name=Display in root window
NoDisplay=true
