[Desktop Entry]
Encoding=UTF-8
Exec=helios
Icon=preferences-desktop-screensaver
X-KDE-ServiceTypes=ScreenSaver
X-KDE-Category=OpenGL Screen Savers
X-KDE-Type=OpenGL
Type=Service
Actions=Setup;InWindow;Root
Name=Helios (GL)

[Desktop Action Setup]
Exec=kxsconfig helios
Name=Setup...

[Desktop Action InWindow]
Exec=kxsrun helios -- -window-id %w
Name=Display in specified window
NoDisplay=true
 
[Desktop Action Root]
Exec=kxsrun helios -- --root
Name=Display in root window
NoDisplay=true
