[Desktop Entry]
Encoding=UTF-8
Exec=lorenz
Icon=preferences-desktop-screensaver
X-KDE-ServiceTypes=ScreenSaver
X-KDE-Category=OpenGL Screen Savers
X-KDE-Type=OpenGL
Type=Service
Actions=Setup;InWindow;Root
Name=Lorenz (GL)

[Desktop Action Setup]
Exec=kxsconfig lorenz
Name=Setup...

[Desktop Action InWindow]
Exec=kxsrun lorenz -- -window-id %w
Name=Display in specified window
NoDisplay=true
 
[Desktop Action Root]
Exec=kxsrun lorenz -- --root
Name=Display in root window
NoDisplay=true
