[Desktop Entry]
Encoding=UTF-8
Exec=matrixview
Icon=preferences-desktop-screensaver
X-KDE-ServiceTypes=ScreenSaver
X-KDE-Category=OpenGL Screen Savers
X-KDE-Type=OpenGL
Type=Service
Actions=Setup;InWindow;Root
Name=MatrixView (GL)

[Desktop Action Setup]
Exec=kxsconfig matrixview
Name=Setup...

[Desktop Action InWindow]
Exec=kxsrun matrixview -- -window-id %w
Name=Display in specified window
NoDisplay=true
 
[Desktop Action Root]
Exec=kxsrun matrixview -- --root
Name=Display in root window
NoDisplay=true
