[Desktop Entry]
Encoding=UTF-8
Exec=plasma
Icon=preferences-desktop-screensaver
X-KDE-ServiceTypes=ScreenSaver
X-KDE-Category=OpenGL Screen Savers
X-KDE-Type=OpenGL
Type=Service
Actions=Setup;InWindow;Root
Name=Plasma (GL)

[Desktop Action Setup]
Exec=kxsconfig plasma
Name=Setup...

[Desktop Action InWindow]
Exec=kxsrun plasma -- -window-id %w
Name=Display in specified window
NoDisplay=true
 
[Desktop Action Root]
Exec=kxsrun plasma -- --root
Name=Display in root window
NoDisplay=true
