[Desktop Entry]
Encoding=UTF-8
Exec=sundancer2
Icon=preferences-desktop-screensaver
X-KDE-ServiceTypes=ScreenSaver
X-KDE-Category=OpenGL Screen Savers
X-KDE-Type=OpenGL
Type=Service
Actions=Setup;InWindow;Root
Name=Sundancer2 (GL)

[Desktop Action Setup]
Exec=kxsconfig sundancer2
Name=Setup...

[Desktop Action InWindow]
Exec=kxsrun sundancer2 -- -window-id %w
Name=Display in specified window
NoDisplay=true
 
[Desktop Action Root]
Exec=kxsrun sundancer2 -- --root
Name=Display in root window
NoDisplay=true
